{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block navigation %}
<span id="headers">
  <a class="navbar-item" href="{% url 'annotation' view.kwargs.project_id %}">
    <span class="icon">
      <i class="fas fa-user-edit"></i>
    </span>
    {% comment %} <div id="headers"> {% endcomment %}
      <b>[[ annotationHeading ]]</b>
      {% comment %} </div> {% endcomment %}
  </a>
  <a class="navbar-item" href="{% url 'upload' view.kwargs.project_id %}">
    <span class="icon">
      <i class="fas fa-upload"></i>
    </span>
    {% comment %} <div id="headers"> {% endcomment %}
      <b>[[ importDataHeading ]]</b>
      {% comment %} </div> {% endcomment %}
  </a>
  <a class="navbar-item" href="{% url 'download' view.kwargs.project_id %}">
    <span class="icon">
      <i class="fas fa-download"></i>
    </span>
    <b>Export Annotations</b>
  </a>
  <a class="navbar-item" @click="showModelTrainingPopup">
    <span class="icon">
      <i class="fas fa-paper-plane"></i>
    </span>
    <b>Train Model</b>
  </a>
  <a-modal title="Please enter model information" :visible="modelNamePopupVisible" @ok="trainModel"
           :ok-button-props="{ props: { disabled: !modelForm.experiment_name } }"
           @ok="trainModel" ok-Text="Train Model"
  >
    <a-form-model :model="modelForm">
      <a-form-model-item label="Model Name" required>
        <a-input v-model="modelForm.experiment_name"/>
      </a-form-model-item>
      <a-form-model-item label="Dataset Name" required>
        <a-input v-model="modelForm.dataset_name"/>
      </a-form-model-item>

      <a-form-model-item v-for="param in Object.keys(defaultParams)" :key="param" :label="param">
        <a-select :default-value="defaultParams[param][0]" v-if="param === 'embeddings'" @change="(e)=>modelForm.params[param]=e">
          <a-select-option v-for="op of defaultParams[param]" :key="op">[[op]]</a-select-option>
        </a-select>

        <a-checkbox v-else-if="param === 'load_model'" @change="(e)=> modelForm.params[param]=e.target.checked">[[param]]</a-checkbox>

        <a-input v-model="modelForm.params[param]" v-else/>
      </a-form-model-item>


      <a-form-model-item label="">
        <a-checkbox :checked="modelForm.include_documents" @change="(e)=>modelForm.include_documents=e.target.checked">Send full text data?</a-checkbox>
      </a-form-model-item>
    </a-form-model>
  </a-modal>


</span>
{% endblock %}
{% block content %}
<div class="columns mr0" id="mail-app" v-cloak>
  <aside class="column is-2 aside">
    <div>
      <div class="main" id="left_nav">
        <a href="{% url 'dataset' view.kwargs.project_id %}" class="item">
          <span class="icon">
            <i class="fa fa-inbox"></i>
          </span>
          <span class="name">Corpus</span>
        </a>
        <a href="{% url 'label-management' view.kwargs.project_id %}" class="item">
          <span class="icon">
            <i class="fa fa-star"></i>
          </span>
          <span class="name">Labels</span>
        </a>
        {% comment %} <a href="{% url 'stats' view.kwargs.project_id %}" class="item">
          <span class="icon">
            <i class="fas fa-signal"></i>
          </span>
          <span class="name">Statistics</span>
        </a> {% endcomment %}
        <a href="{% url 'setting' view.kwargs.project_id %}" class="item">
          <span class="icon">
            <i class="fas fa-cog"></i>
          </span>
          <span class="name">Settings</span>
        </a>
        {% comment %} <a href="{% url 'dictionary' view.kwargs.project_id %}" class="item">
          <span class="icon">
            <i class="fas fa-book"></i>
          </span>
          <span class="name">Historical</span>
        </a> {% endcomment %}
      </div>
    </div>
  </aside>
  <div class="column is-10 messages hero is-fullheight" id="message-feed">
    {% if messages %}
    <div>
      <article class='message is-danger'>
        <div class='message-body'>
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </article>
    </div>
    {% endif %}
    {% block content-area %}{% endblock %}
  </div>
</div>
<script src="{% static 'bundle/headers.js' %}"></script>
{% endblock %}