{% extends "admin/admin_base.html" %}
{% load static %}
{% block content-area %}

<head>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
</head>


<div class="card">
    <header class="card-header">
        <div class="model__content">
            <h2><span>Download Model</span></h2>
        </div>
    </header>

    <div class="card-content model__content">
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th style="width: 10%">#</th>
                    <th>Text</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(model, index) in modelList">
                    <td>${ index + 1 } </td>
                    <td>${ model }</td>
                    <td><a class="has-text-danger" @click="downloadModelClicked(model, index)">Download</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
{% block footer %}
<script src="{% static 'bundle/download_model.js' %}"></script>
{% endblock %}