{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/annotation.css' %}" xmlns:v-on="http://www.w3.org/1999/xhtml">
<script src="https://unpkg.com/marked@0.3.6/lib/marked.js"></script>
<script src="https://unpkg.com/lodash@4.16.0/lodash.js"></script>
{% endblock %}
{% block navigation %}
{% if user.is_authenticated %}
<a class="navbar-item" href="{% url 'dataset' view.kwargs.project_id %}">
  <span class="icon">
    <i class="fas fa-edit"></i>
  </span>
  <b>Main Menu</b>
</a>
{% endif %}
{% endblock %}
{% block content %}
<div class="columns" id="mail-app" v-cloak>
  <aside class="column is-3 aside hero is-fullheight">
    <div>
      <div class="main pr20 pl20">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Search document" v-model="searchQuery"
              @keyup.enter="searchDocs" style="border-right:none;box-shadow: none;-webkit-box-shadow: none;">
          </div>

          {% comment %} <div class="control">
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" style="border-left:none">
                  <span class="icon has-text-grey pr0">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu pt0" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    <label class="radio">
                      <input type="radio" value="all" v-model="typeOfDoc" checked> All
                    </label>
                  </a>
                  <a class="dropdown-item">
                    <label class="radio">
                      <input type="radio" value="active" v-model="typeOfDoc"> Active
                    </label>
                  </a>
                  <a class="dropdown-item">
                    <label class="radio">
                      <input type="radio" value="completed" v-model="typeOfDoc"> Completed
                    </label>
                  </a>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>

      <div class="main pt0 pb0 pr20 pl20">
        <span>About [[ totalDocCount ]] results</span>
      </div>

      <div class="main">
        <a href="#" class="item" v-for="(doc, index) in annotationDocs" v-on:click="pageNumber = parseInt(index)">
          <span class="icon" v-if="!annotationDocs[index].annotated">[[ index ]]</span>
          <span v-else class="icon"><i class="fa fa-check"></i></span>
          <span class="name">[[ doc.text.slice(0, 60) ]]...</span>
        </a>
      </div>
    </div>
  </aside>
  <div class="column is-7 is-offset-1 message hero is-fullheight" id="message-pane">
    {% comment %} <div class="columns is-multiline is-gapless is-mobile is-vertical-center">
      <div class="column is-3">
        <progress class="progress is-inline-block" v-bind:class="progressColorTrain" v-bind:value="achievementTrain"
          max="100">30%</progress>
      </div>
      <div class="column is-4">
        <span class="ml10"><strong>[[ onlineLearningIndices.size ]]</strong></span>/<span>[[ onlineLearningPer ]]</span>
        <span> to train </span>
      </div>

      <div class="column is-0 has-text-right">
        <span class="tag is-small" v-bind:class="serverOn" disabled="">MODEL SERVER [[ serverMsg ]]</span>
        <span class="help-tip">
          <p>Something about embedding explanation</p>
        </span>
      </div>
    </div> {% endcomment %}

    <div class="columns is-multiline is-gapless is-mobile is-vertical-center">
      <div class="column is-3">
        <progress class="progress is-inline-block" v-bind:class="progressColor" v-bind:value="achievement"
          max="100">30%</progress>
      </div>
      <div class="column is-4">
        <span class="ml10"><strong>[[ numOfAnnotatedDocs ]]</strong></span>/<span>[[ totalDocCount ]]</span>
        <span> to annotate </span>
      </div>

      <div class="column is-0 has-text-right">
        <span class="tag is-small is-primary" v-if="settings.nounChunk">Noun Chunk</span>
        <span class="tag is-small" v-bind:class="onlineOn" v-if="settings.modelBackedRecs">Model Backed Recs</span>
        <span class="tag is-small is-primary" v-if="settings.history">Annotation History</span>
        <span class="help-tip">
          <p>Selected Recommendation strategies will show here.<br><br>
            If you have selected to use model backed recommendations, but your model server is turned off, the option
            will appear as red––indicating an error.</p>
        </span>
        <span class="tag">
          <a-popconfirm title="Are you sure to train model?" ok-text="Yes"  @confirm="trainModel">
            <button id="train_modal_btn" class="button" >Train Model</button>
          </a-popconfirm>
        </span>
      </div>

    </div>

    <div class="modal" v-bind:class="{ 'is-active': isNewlyCreated===1 }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" v-if="projectType === 1">SA Annotation Guideline</p>
          <p class="modal-card-title" v-if="projectType === 2">NER Annotation Guideline</p>
          <p class="modal-card-title" v-if="projectType === 3">RE Annotation Guideline</p>
        </header>
        <section class="modal-card-body">
          <p>Here's a quick animation on the different ways you can annotate a document</p>
          <img class="figure-img img-fluid" v-if="projectType === 1" src="../../static/images/SA_Annotation.gif">
          <img class="figure-img img-fluid" v-if="projectType === 2" src="../../static/images/NER_Annotation.gif">
          <img class="figure-img img-fluid" v-if="projectType === 3" src="../../static/images/RE_Annotation.gif">
        </section>
        <footer class="modal-card-foot pt20 pb20 pr20 pl20 has-background-white-ter">
          <button class="button is-success" v-on:click="isNewlyCreated += 1">OK</button>
        </footer>
      </div>
    </div>
    <div class="modal" v-bind:class="{ 'is-active': isNewlyCreated === 3 }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" v-if="explanationType === 2">Natural Language Explanation Guideline</p>
          <p class="modal-card-title" v-if="explanationType === 3">Trigger Explanation Guideline</p>
        </header>
        <section class="modal-card-body">
          <p>Here's a quick animation on how to explain your labeling decision.</p>
          <p>Please refer to our <a href="http://inklab.usc.edu/leanlife/">homepage</a> to get a better understanding of
            what these explanations are.</p>
          <img class="figure-img img-fluid" v-if="explanationType === 2" src="../../static/images/NL_Explanation.gif">
          <img class="figure-img img-fluid" v-if="explanationType === 3" src="../../static/images/TR_Explanation.gif">
        </section>
        <footer class="modal-card-foot pt20 pb20 pr20 pl20 has-background-white-ter">
          <button class="button is-success" v-on:click="isNewlyCreated=0; explanationPopup=true">OK</button>
        </footer>
      </div>
    </div>

    {% block annotation-area %} {% endblock %}

    <div class="level mt30">
      <a class="button level-left" v-on:click="prevPage"
        v-shortkey="{prev1: ['ctrl', 'p'], prev2: ['arrowup'], prev3: ['arrowleft']}" @shortkey="prevPage">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span>Prev</span>
      </a>
      <div class="level-right">
        <div>
          <a class="button level-right" v-on:click="nextPage"
            v-shortkey="{next1: ['ctrl', 'n'], next2: ['arrowdown'], next3: ['arrowright']}" @shortkey="nextPage">
            <span>Next</span>
            <span class="icon">
              <i class="fas fa-chevron-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="level mt30">
      <a class="level-left"></a>
      <a class="button level-right" v-on:click="noAnnotations">
        <span>Skip (Nothing to Mark Up)</span>
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>
{% endblock %}